
.Crearusuario ion-icon{
    color: #428cff; 
  }
  
.Guardar {
  
    font-size: 15px;
    background-color: #428cff;
    padding: 5px 5px;
    color: white; 
    border-radius: 7px;
  
  }