.head {
  padding: 20px; 
  background-color: #428cff;
}
.head h1 {
  text-align: center; 
  color: white;
}
.skew-arriba{
  bottom: 0;
  left:0;
  border-width:  0 0 10vh  100vw ;
  border-style: solid;
  border-color: transparent #428cff ;
}
.skew-abajo{
  position: absolute;
  bottom: 0;
  left:0;
  border-width:  0 0 10vh  100vw ;
  border-style: solid;
  border-color: transparent transparent #428cff transparent ;
}
.Crearusuario {
  margin-top: 20px;
}
.Crearusuario ion-icon{
    color: #428cff; 
  }
.Guardar {
    margin-top: 20px;
    font-size: 17px;
    background-color: #428cff;
    padding: 5px 5px;
    color: white; 
    border-radius: 7px;
  
  }
  .Guardar:hover{
    border: 1px solid #428cff;
    background-color: white;
    color: #428cff;
  }


