<ion-header>
  <ion-toolbar>
    <ion-title >  <ion-icon ios="logo-sass" md="logo-sass"></ion-icon></ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <iframe width="400" height="215" src="https://www.youtube.com/embed/EP7Xf5LWuSY" frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div><h1>utensilios en mecanica dental</h1></div>

  <iframe width="200" height="100" src="https://www.youtube.com/embed/fGSMmIFJa1A" frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <hr/>
  <br>
  <iframe width="200" height="100" src="https://www.youtube.com/embed/GaEyLFHeJxs" frameborder="0"
   allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<hr/>
<br>
   <iframe width="200" height="100" src="https://www.youtube.com/embed/qIen-nEClxM" frameborder="0" 
   allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr/>
    <ion-button expand="block"href="http://localhost:8100/folder/Inbox">Siguiente sección</ion-button>

</ion-content>

